.scroll-to-top{
    position: fixed;
    bottom:5%;
    right:20px;
    width:60px;
    height: 40px;
    border-radius: 20px;
    background-color: #434444;
    display: grid;
    place-items: center;
    text-decoration: none;
    overflow: hidden;
}
.scroll-top-hide{
    display: none;
}
.scroll-to-top:hover{
    background-color: orange;
}
#up-icon{
    font-size: 2.2rem;
    color:white;
}

.scroll-to-top:hover #up-icon{
    animation: slide-and-ghost 800ms linear infinite;
}

@keyframes slide-and-ghost {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}