.subnav {
    position: absolute;
    top: 10px;
    left: 5vw;
    width: 90vw;
    height: 50px;
    background: linear-gradient(45deg, rgba(156, 156, 157, 0.27), rgba(235, 235, 235, 0.666));
    -webkit-backdrio-filter: blur(20px);
    
    backdrop-filter: blur(20px);

    /* border: 2px solid rgb(10, 10, 10); */
    border-radius: 50px;

}

.mobile-name {
    display: inline-block;
    padding: 10px;

    height: 100%;
    position: absolute;
    left: 20px;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
}

.subnav-links {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    /* width:40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.subnav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.1rem;

}

#buy-now-btn {
    padding: 10px;
    height: 80%;
    background-color: orange;
    color: white;
    border-radius: 50px;
}

.mob-subnav-toggle {
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(249, 202, 106);
    background-color: rgb(251, 246, 233);

    color: rgb(255, 183, 0);
    border-radius: 50%;
}

.mob-sub-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* height: 20vh; */
    padding:30px 0px;
    background: rgba(237, 238, 237, 0.98);
    position: absolute;
    top: 55px;
    z-index: 3;
    border-radius: 40px;
    /* border: 2px solid blue; */
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);

}

.mob-sub-nav-menu a {
    width:90%;
    text-decoration: none;
    color: rgb(40, 40, 40);
    text-transform:capitalize;
    font-weight: 400;
    /* border-bottom: 0.5px solid rgb(206, 206, 206); */
    text-align: center;
    padding:5px 0px;
}
.mob-sub-nav-menu a:last-child{
    border-bottom: none;
}
#mob-subnav-buy-now{
    background-color: orange;
    color:white;
    border-radius: 50px;
}
.mob-sub-nav-menu-hide {
    display: none;
}

@media (max-width:800px) {
    .subnav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobile-name {
        position: relative;
    }

    .subnav-links {
        display: none;
    }

    .mob-subnav-toggle {
        position: absolute;
        right: 15px;
        display: grid;
        place-items: center;

        font-size: 1.5rem;

    }

}

@media (min-width:800px) and (max-width:1200px) {
    .subnav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobile-name {
        position: relative;
    }

    .subnav-links {
        display: none;
    }

    .mob-subnav-toggle {
        position: absolute;
        right: 10px;
        display: grid;
        place-items: center;
        font-size: 1.6rem;
    }

}